<% include header %>

<div class="container">
  <h1>Job Coach</h1>
  <img src="/kingsleylogo.png" />
  <p class="lead">
    Welcome! here you'll receive valuable tips to ace your interview
  </p>
  <p>
    Interview Coach website
  </p>
  <ul>
    <li>
      <a href="https://glacial-chamber-31755.herokuapp.com/"
        >Interview Coach</a
      >
    </li>
    <li>
      Your chances will increase!
      <a
        href="https://glacial-chamber-31755.herokuapp.com/"
        >DevDocs</a
      >
    </li>
  </ul>
</div>

<% include footer %>
