<% include header %>

<div class="container">
  <h1>Interview Coach</h1>
  <img src="/kingsleylogo.jpeg" />
  <p class="lead">
    Welcome! here you'll receive valuable tips to ace your interview
  </p>
  <p>
    Interview Coach website
  </p>
  <ul>
    <li>
      <a href="https://glacial-chamber-31755.herokuapp.com/"
        >Interview Coach</a
      >
    </li>
    <li>
      Your chances will increase!
      <a
        href="https://glacial-chamber-31755.herokuapp.com/"
        >DevDocs</a
      >
    </li>
  </ul>
</div>

<!-- messenger chat plugin start. enables messenger to be on website-->
<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v7.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="109685830825252"
  theme_color="#ffc300">
      </div>
      <!-- messenger chat plugin ends-->

<% include footer %>
